- result = result || {};
- result.fields = result.fields || [];
- result.data = result.data || {};
form.contact-form(action=contactForm.contact_page, method="POST")
  - if (result && result.success) {
  div.message-box.success !{result.success}
  - } else if (result.error && result.error !== "validate_error") {
  div.message-box.error !{result.error}
  - } else {
  div
    label
      span Name
      - if (result.fields.indexOf("name") === -1) {
      input(name="name", type="text", tabindex="1", value=result.data.name)
      - } else {
      input.error(name="name", type="text", tabindex="1", autofocus="", value=result.data.name)
      - }
  div
    label
      span Email
      - if (result.fields.indexOf("email") === -1) {
      input(name="email", type="email", tabindex="2", value=result.data.email)
      - } else {
      input.error(name="email", type="email", tabindex="2", autofocus="", value=result.data.email)
      - }
  div
    label
      span Subject
      - if (result.fields.indexOf("subject") === -1) {
      input(name="subject", type="text", tabindex="3", value=result.data.subject)
      - } else {
      input.error(name="subject", type="text", tabindex="3", autofocus="", value=result.data.subject)
      - }
  div
    label
      span Message

      - if (result.fields.indexOf("message") === -1) {
      textarea(name="message", tabindex="4") #{result.data.message}
      - } else {
      textarea.error(name="message", tabindex="4", autofocus="") #{result.data.message}
      - }
  div
    input(type="submit", value="Send")
  - }
